<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="video_resolution" type="enum" label="30200" lvalues="30300|30301|30302" default="2"/>
	<setting id="video_vplaycont" type="bool" label="30201" default="true"/>
    <setting id="http_proxy" type="text" label="30202" values="" default=""/>
</settings>
