<?xml version="1.0" encoding="utf8" standalone="yes"?>
<settings>
	<setting id="video_vplaycont" type="bool" label="视频连续播放  (Continuous Video Playback)" default="true"/>
	<setting id="pps4xbmc_en" type="bool" label="Use PPStream Player" default="true"/>
    <setting id="http_proxy" type="text" label="Proxy (ip:port) - leave blank if not required" values="" default=""/>
</settings>
