<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="videoQuality" type="enum" label="32002" lvalues="32003|32004|32005" enable="0" default="0"/>
    <setting id="cdn" type="enum" label="cdn" values="默认|ws网宿|ws2网宿2|lx蓝讯|dl|tct" default="0"/>
    <setting type="sep"/>
    <setting id="danmu" type="bool" label="启用弹幕" default="true"/>
    <setting id="textColor" type="enum" label="弹幕颜色" subsetting="true" enable="eq(-1,true)" values="红色|绿色|蓝色|白色|黑色" default="3"/>
    <setting id="fontSize" type="enum" label="弹幕字体大小" subsetting="true" enable="eq(-2,true)" values="普通|大" default="0"/>
    <setting id="position" type="enum" label="弹幕位置" subsetting="true" enable="eq(-3,true)" values="上面|下面" default="0"/>
    <setting id="speed" type="enum" label="弹幕速度" subsetting="true" enable="eq(-4,true)" values="普通|快" default="0"/>
    <setting id="textAlpha" type="slider" label="弹幕透明度" subsetting="true" enable="eq(-5,true)" default="255" range="0,5,255" option="int"/>
</settings>
