<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="优酷TV">
        <setting id="resolution" label="清晰度" type="enum" values="1080P|超清|高清|FLV标清"/>
        <setting id="language" label="语言" type="enum" values="默认|国语|粤语|英语"/>
        <setting id="play" label="播放方式" type="enum" values="整合(试验阶段)|分段|堆叠"/>
        <setting label="清空播放历史" type="action" action="RunScript($CWD/addon.py, clearHistory)" enable="!Player.HasVideo" />
        <setting label="清空收藏" type="action" action="RunScript($CWD/addon.py, clearFavor)" enable="!Player.HasVideo" />
    </category>
</settings>

