<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30003">
		<setting label="30004" type="labelenum" id="quality" values="100-300|300-500" default="300-500" />
	</category>
	<category label="30005">
		<setting label="30006" type="bool" id="epg" default="false" />
		<setting label="30007" type="bool" id="epgYangshi" default="false" />
		<setting label="30008" type="bool" id="epgWeishi" default="false" />
	</category>
</settings>
